/* font poppins from google font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;1,100;1,200;1,300&family=Roboto:wght@100;700&family=Scheherazade+New:wght@700&display=swap');
/*font and global css */
*{
    transition: 0.5s;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
/* style header */

/* left side of nav bar */
body .header .container .header-content .left-side a {
    color: #000000;
}

body .header .container .header-content .left-side a .brand-img {
    width: 30px;
    height: 30px;
}

body .header .container .header-content .left-side a .brand-text {
    font-weight: bolder;
    font-size: 20px;
}

body .header .container .header-content .left-side a .brand-text.color-toggle {
    color: black;
}

body .header .container .header-content .left-side a .brand-text .brand-sub-title {
    color: #645f5e;
    font-weight: 800;
}

/* middle side of nav bar */
body .header .container .header-content .middle-side ul .items {
    display: inline-block;
	text-transform: capitalize;
}

body .header .container .header-content .middle-side ul .items a {
    color: #000;
    position: relative;
    font-weight: bolder;
    text-decoration: none;
    padding: 7px 0;
}

/* right side of nave bar */
body .header .container .header-content .right-side ul {
    margin: 0;
}

body .header .container .header-content .right-side ul .icons {
    display: inline-block;
    cursor: pointer;
}

body .header .container .header-content .right-side ul .icons:hover {
    
    transform: scale(1.05);
}

body .header .container .header-content .right-side ul .icons .btn-login {
    background: transparent;
	border: 1px solid #000;

}

/* the hero */
body .hero {
    background-color: rgb(248, 228, 205);
    position: relative;
}

body .hero .container .hero-content {
    top: 55%;
    left: 50%;
}

body .hero .container .hero-content .content .hero-title {
    font-size: 30px;
    
}

body .hero .container .hero-content .content .hero-title .hero-sub-title {
    color: #ff5722;
}

body .hero .container .hero-content .content .hero-under-text {
    
}

body .hero .container .hero-content .content .hero-btn {
    background-color: #000;
    width: max-content;
}

body .hero .container .hero-content .content .hero-btn a {
    color: #fff;
	text-decoration: none;
	
}

body .hero .container .hero-content .content .hero-btn:hover {
    background-color: #fff;
	border: #000 1px solid;
}

body .hero .container .hero-content .content .hero-btn:hover a {
    color: #000;
}

/* style testemonial */
.testimonial h1 {
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.carousel {
	width: 100%;
	margin: 0 auto;
	padding-inline: 20%;
	padding-bottom: 50px;
}
.carousel .carousel-item {
	 
	font-size: 14px;
	text-align: center;
	overflow: hidden;
	min-height: 340px;
   
}
.carousel .carousel-item .content {
	
    display: flex;
    
}
.carousel .carousel-item .content div {
    width: 50%;
    font-family: 'Poppins', sans-serif;
	margin: 1rem;
    padding: 10px;
    background-color: #EEDDCC;
    
}
.carousel .carousel-item .content div h4{
	font-size: 35px;
    
    
}
.carousel .carousel-item .content div p{
	font-size: 28;
    
}
.carousel .carousel-item .content div img{
	
    
}
.carousel .carousel-item .content div h6{
	font-size: 28;
    
}
.carousel .carousel-item .content div span{
	font-size: 20;
    
}

.carousel .carousel-indicators {
	bottom: 15px;
}

.carousel-indicators button {	
	background-color: #EEDDCC;
    width: 10px !important;
	height: 10px !important;
	margin: 1px 1px !important;
	border-radius: 50% !important; 
    border: #EEDDCC 1px solid !important;
	
}
.carousel-indicators button.active {
	width: 10px;
	height: 10px;
	margin: 1px 1px;
	border-radius: 50%; 
     
    background: #EEDDCC;
}
/* media quiry */
@media (max-width: 768px) {
    .middle-side {
		position: absolute;
        right: -110%;
		height: 100vh;
		
    }
    .middle-side.show {
		position: absolute;
        right: 0;
		top: 0;
		height: 100vh;
		z-index: 10001;
		width: 25%;
		background-color: #F8F9F9;
    }
    .middle-side.show ul .items {
		margin-block: 1rem;
    }
    
}