:root {
  --main-bg-color: #009d63;
  --main-text-color: #009d63;
  --second-bg-color: #c1efde;
  --second-text-color: #bbbec5;
}

.primary-text {
  color: var(--main-text-color);
}

.second-text {
  color: var(--second-text-color);

}

.primary-bg {
  background-color: var(--main-bg-color);
}

.secondary-bg {
  background-color: var(--second-bg-color);
}

.rounded-full {
  border-radius: 100%;
}

#wrapper {
  overflow-x: hidden;
  background-image: linear-gradient(to right,
      #baf3d7,
      #c2f5de,
      #cbf7e4,
      #d4f8ea,
      #ddfaef);
}

#sidebar-wrapper {

  min-height: 100vh;
  margin-left: -15rem;
  transition: margin 0.25s ease-out;
}

#sidebar-wrapper .sidebar-heading {
  padding: 0.875rem 1.25rem;
  font-size: 1.2rem;
}

#sidebar-wrapper .list-group {
  width: 15rem;
}

#page-content-wrapper {
  min-width: 100vw;
}

#wrapper.toggled #sidebar-wrapper {
  margin-left: 0;
}

#menu-toggle {
  cursor: pointer;
}

.list-group-item {
  border: none;
  padding: 20px 30px;
}

.list-group-item.active {
  background-color: transparent;
  color: var(--main-text-color);
  font-weight: bold;
  border: none;
}

@media (min-width: 768px) { 
  #sidebar-wrapper { 
    margin-left: 0;
}
#page-content-wrapper { 
  min-width: 0;
   width: 100%;
}
#wrapper.toggled #sidebar-wrapper {
   margin-left: -15rem;
}
}

.btn_add{
  background-color:var(--second-bg-color) ;
  color: #009d63;
  font-weight: 600;
  border-radius: 8px;
  width: 5rem;
}
.btn_edit {
  background-color: rgb(61, 124, 241);
  border-radius: 8px;
  color: black;
  font-weight: 600;
  width: 5rem;
}

.inputContainer{
display: flex;
justify-content: top;
align-items: center;
min-height: 100vh;
flex-direction: column;
gap : 30px;
}
.inputBox{
 position: relative;
 width: 300px;
}
.inputBox input{
 width: 100%;
 padding: 10px;
 border: 1px solid black;
 background:var(--second-bg-color);
 border-radius: 5px;
 outline: none;
  color: black;
 font-size: 1em;

}
.inputBox span {
  position: absolute;
  left: 0;
  padding: 10px;
  pointer-events: none;
  font-size: 1rem;
  text-transform: uppercase;
  transition: 0.5s;
  
}
.inputBox input:valid ~ span,
.inputBox input:focus ~ span
{
  color:rgb(61, 124, 241);
  transform: translateX(10px) translateY(-7px);
  font-size: 0.65em;
  padding: 0 10px;
  background-color:var(--second-bg-color);
  border-left: 1px solid rgb(61, 124, 241);
  border-right:1px solid rgb(61, 124, 241)  ;
  letter-spacing: 0.2em;
}
.inputBox input:valid,
.inputBox input:focus{
  border: 1px solid rgb(61, 124, 241);
}

input::file-selector-button, input[type="submit"]{
  background-image: linear-gradient(
    to right,
    #00a5cf,
    #9fffcb,
    #25a18e 100%,
    #25a18e 200%
  );
  background-position-x: 0%;
  background-size: 200%;
  border: 0;
  border-radius: 8px;
  color: #fff;
  padding: 1rem 1.25rem;
  text-shadow: 0 1px 1px #333;
  cursor: pointer;
}